[submodule "vendor/ClassLoader"]
	path = vendor/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/lithium"]
	path = vendor/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "vendor/docblox"]
	path = vendor/docblox
	url = https://github.com/docblox/docblox.git
