[submodule "vendor/ClassLoader"]
	path = vendor/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/docblox"]
	path = vendor/docblox
	url = https://github.com/docblox/docblox.git
[submodule "vendor/guzzle"]
	path = vendor/guzzle
	url = https://github.com/guzzle/guzzle.git
